.counts {
  margin: 10px;
  color: var(--text-color-secondary);
}

.inputContainer {
  margin-bottom: 20px;
}

@media screen and (min-width: 720px) {
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .counts {
    flex: 1;
  }

  .input {
    flex: 2;
  }
}
